@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 25px;
}
h2 {
    margin-bottom: 10px;
}
.wrapper-area {
    background-color: antiquewhite;
    padding: 50px 0;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.single-items {
    background: tomato;
    padding: 30px 35px;
    margin-bottom: 25px;
    border-radius: 15px;
    color: #FFFFFF;
}
.single-items img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}